@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
}

.conCls {
  @apply container mx-auto px-[3%] md:px-0;
}

.category-card:hover .category-arrow {
  @apply rotate-300  bg-[#fb7b53] text-white border-2;
}

.details:hover .details-btn {
  @apply animate-bounce;
}

.category-card:hover .arrow-icon {
  @apply text-white;
}

* {
  font-family: 'Josefin Sans', sans-serif;
}
