@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
}

.conCls {
  @apply container mx-auto px-[3%] md:px-0;
}

.category-card:hover .category-arrow {
  @apply border-[#fb7b53] bg-[#fb7b53];
}

.category-card:hover .arrow-icon {
  @apply text-white;
}

.titleFont {
  font-family: 'Josefin Sans', sans-serif;
}
